<div id="<%= dom_id block %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Identification:</strong>
    <%= block.identification %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Floors count:</strong>
    <%= block.floors_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Apartments per floor:</strong>
    <%= block.apartments_per_floor %>
  </div>
</div>
