<div id="<%= dom_id ticket_status %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= ticket_status.name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Padrão do sistema:</strong>
    <%= ticket_status.is_default? ? "Sim" : "Não" %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Status de conclusão:</strong>
    <%= ticket_status.is_final? ? "Sim" : "Não" %>
  </div>
</div>
